In [1]:
%pip install pyspark
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 6.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 11.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=fa9751d6858ecdea23d65d46221979b5b14ea7a88213f2c7a7f74ab298391bcd
  Stored in directory: /Users/enriquegomeztagle/Library/Caches/pip/wheels/92/09/11/aa01d01a7f005fda8a66ad71d2be7f8aa341bddafb27eee3c7
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
spark = SparkSession.builder.appName("PySpark").getOrCreate()
spark

24/03/20 21:41:02 WARN Utils: Your hostname, Macbook-Air-03.local resolves to a loopback address: 127.0.0.1; using 172.29.17.192 instead (on interface en0)
24/03/20 21:41:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/20 21:41:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
b_and_j = spark.read.csv('BenAndJerry.csv', inferSchema=True, header=True)

In [4]:
b_and_j.createOrReplaceTempView("ben_and_jerrys")
spark.sql("""
SELECT household_size,
COUNT(*) AS family_count,
AVG(total_spent) AS mean_spent
FROM ben_and_jerrys
GROUP BY 1 ORDER BY 3 DESC
""").toPandas()

24/03/20 21:41:09 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

   household_size  family_count  mean_spent
0               8            48  159.896875
1               5          1040  108.276125
2               4          2883   97.894783
3               7            91   94.238462
4               3          3775   93.249483
5               6           282   89.606312
6               2          8472   75.616943
7               9           110   59.921727
8               1          5273   53.451902

In [5]:
spark.sql(
"""
SELECT flavor_descr,
SUM(quantity) AS units_sold,
AVG(quantity) AS avg_sold_per_customer,
AVG(price_paid_deal) AS mean_promo_price,
AVG(price_paid_non_deal) AS list_price
FROM ben_And_jerrys GROUp BY 1 ORDER BY 2 DESC
""").toPandas()

,flavor_descr,units_sold,avg_sold_per_customer,mean_promo_price,list_price
0,CHERRY GRCA,2743,1.308059,1.751726,2.643629
1,CHC FUDGE BROWNIE,1684,1.363563,1.402105,3.081482
2,HEATH COFFEE CRUNCH,1440,1.345794,2.184944,2.248729
3,CHUNKY MONKEY,1372,1.289474,1.644605,2.526541
4,CHC CHIP C-DH,1273,1.189720,1.475000,2.591439
5,PHISH FOOD,1215,1.255165,1.701674,2.452779
6,NEW YORK SUPER FUDGE CHUNK,1213,1.301502,1.818938,2.374056
7,AMERICONE DREAM,1124,1.299422,1.685607,2.569052
8,PB CUP,1046,1.263285,1.788635,2.304722
9,PISTACHIO PISTACHIO,990,1.369295,2.055602,2.444689
10,KARAMEL SUTRA,984,1.333333,1.646382,2.676409
11,W-N-C-P-C,870,1.244635,1.759084,2.249285
12,HALF BAKED,866,1.230114,1.461151,2.527884
13,CINNAMON BUNS,851,1.385993,1.343371,2.976254
14,BANANA SPLIT,789,1.317195,1.571202,2.635626
15,IMAGINE WHIRLED PEACE,744,1.215686,1.641569,2.244673
16,HEATH CANDY EVERYTHING BUT THE,684,1.297913,1.792068,2.359431
17,CREME BRULEE,671,1.474725,1.632813,2.968527
18,ONE CSK BROWNIE,648,1.163375,1.294183,2.371329
19,VAN,636,1.230174,1.780484,2.481721
20,STR CSK,629,1.221359,1.546291,2.333709
21,HEATH CRUNCH,618,1.253550,2.257140,1.979371
22,CAKE BATTER,480,1.173594,1.327995,2.472738
23,DUBLIN MUDSLIDE,457,1.235135,2.073973,2.012054
24,VAN CARAMEL FUDGE,395,1.362069,2.502379,1.819966
25,CHUBBY HUBBY,386,1.213836,1.513679,2.557138
26,OXFORD MINT CHC COOKIE,378,1.159509,1.697485,2.097025
27,BUTTER PECAN,325,1.348548,2.332158,2.125892
28,MAGIC BROWNIES,255,1.281407,1.769598,2.374221
29,TURTLE SOUP,249,1.220588,2.094951,1.711275
30,SMORES,231,1.155000,2.100900,1.859900
31,NEAPOLITAN DYNAMITE,225,1.184211,1.904579,1.992211
32,OATMEAL COOKIE CHUNK,219,1.190217,2.119674,1.768967
33,PUMPKIN CSK,217,1.517483,1.393357,3.163147
34,MINT CHC CHUNK,185,1.267123,2.360822,2.059658
35,BROWNIE BATTER,178,1.219178,2.288014,1.859247
36,VERMONTY PYTHON,165,1.231343,1.965000,2.052388
37,CHC ALMOND NOUGAT,145,1.208333,2.447417,1.513000
38,TRIPLE CARAMEL CHUNK,117,1.344828,2.877816,1.518966
39,CHC,115,1.185567,1.596701,2.447216
40,FOSSIL FUEL,107,1.273810,2.273333,1.768452
41,RSP CHC CHUNK,95,1.202532,2.070886,2.014557
42,COFFEE,64,1.142857,2.160536,1.905714
43,BLACK & TAN,42,1.680000,0.735200,4.671200
44,SWEET CREAM & COOKIES,18,1.058824,0.235294,3.650588
45,STRAWBERRIES & CREAM,16,1.230769,1.733846,2.276923
46,STR,12,1.090909,1.303636,2.718182
47,WHITE RUSSIAN,1,1.000000,0.000000,4.190000
48,DOUBLE CHC FUDGE SWR,1,1.000000,0.000000,3.490000
49,PB TRUFFLE,1,1.000000,0.000000,3.000000